<div class="footer">
	<div class="footer-socials">
		<i class="fa-brands fa-square-facebook"></i>
		<i class="fa-brands fa-square-instagram"></i>
		<i class="fa-brands fa-twitter"></i>
	</div>
	<div class="footer-info">
		<p>&copy;Trouvaille private limited.</p>
	</div>
	<div class="footer-privacy">
		<a href="/privacy">Privacy</a>
		<a href="/terms">Terms</a>
	</div>
</div>