<% layout('/layouts/boilerplate.ejs') -%>

<h2 class="offset-2 new-h2 offset-3 col-6"><b>Sign in</b></h2>

<div class="row">
	<form method="post" class="newform offset-3 col-6 needs-validation" action="/user/signin" novalidate>
		<div class="mb-3">
			  <label for="username" class="form-label">Username</label>
			  <input type="text" class="form-control" id="username" name="username" required>
			  <div class="invalid-feedback">
        		Please give a username.
      		  </div>
		</div>
		<div class="mb-3">
			  <label for="email" class="form-label">Email</label>
			  <input type="email" class="form-control" id="email" name="email" required>
			  <div class="invalid-feedback">
        		Please provide a email.
      		  </div>
		</div>
		<div class="mb-3">
			  <label for="password" class="form-label">Password</label>
			  <input type="password" class="form-control" id="password" name="password" required>
		</div>
		<button class="btn btn-success"> Sign in </button>
	</form>
</div>